@import 'common/_variables.scss' ;
@import 'common/_mixins.scss' ;
@import 'common/_responsive.scss' ;

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
margin: 0;
}

.bold {
    font-weight: bold;
}

.invisible {
    position: absolute;
    inset: 0;
}

/*header*/
#headerlogo {
    @include flex-center;
    @include padding-top-bot;
    align-items: center;
    position: relative;
        i {
    font-size:x-large;
    position: absolute;
    left: 25px;
    top: 25px;
        }
}        
.blacklogo { 
        width: 45%;
        height: fit-content;
}

/*section pictures*/

.picture {
    height: 250px;
}
.restaurantpicture {
    @include hundred;
    height: 250px;
    object-fit: cover;
}

/*section menus*/
.menutitle {
    @include hundred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light;    
    padding: 20px;
        h1 {
            width: 80%;
            font-weight: 200;
            font-style: italic;
            font-family: 'Shrikhand', cursive;
            }
}
i {
    position: initial;
    font-size: xx-large;
        &:hover {
            color: $violet;
            font-weight: bold;
            }
}

.menu {
    @include padding-rig-lef-page;
    @include flex-column-start;
    background-color: $light;
}
h2 {
    font-weight: 300;
    font-size: x-large;
    margin-bottom: 0;
}
/*starters*/
.menustarters {
    @include hundred;
}
.bordertitle {
    display: inline-block;
    width: 15%;
    border: 2px solid $mintgreen;
}
.startercard {
    @include large;
    @include box-shadow;
    @include hundred;
    @include flex-start;
    justify-content: space-between;
    padding-left: 15px;
    margin: 20px 0 20px 0;
    background-color: $white;
    border: 3px solid $light;
    border-radius: 20px;
}
.startername {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 3px;
}
.starterdescription {
    font-size: medium; 
    margin-top: 4px;
}
.column1 {
    width: 70%;
}
.column2 {
    width: 10%;
}

/*dishes - dessert*/
.dishes {
    margin-left: 40px;
    border-bottom: 2px solid $mintgreen;
    display: inline;

}
.menudishes, .menudesserts {
    @extend .menustarters;
}
.dishcard, .dessertcard {
    @extend .startercard;
}
.dishname, .dessertname {
    @extend .startername;
}
.dishdescription, .dessertdescription {
    @extend .starterdescription;
}
.toorder  {
    @include padding-rig-lef-page;
    background: linear-gradient($pink, $violet);
    color: $white;
    border-radius: 25px;
    margin-bottom: 30px;
}


/*footer*/
footer {
    padding: 20px;
    background-color: $dark;
    color: $white;
}
.whitelogo {
    width: 30%;
    height: auto;
    filter: invert(100%);
}
.ustensil {
    padding-left: 18px;
}
.paddingleft {
    padding-left: 10px;
}
.contact a {
        text-decoration: none;
        color: $white;
    }


