//color//

$violet: #9356DC;
$pink: #FF79DA;
$mintgreen: #99E2D0;

//background-color//
$light: rgba(220, 220, 220, 0.24);
$medium: rgba(214, 214, 214, 0.545);
$dark: rgb(68, 68, 68);

$mintviolet: #f2edf9;
$white: white;
$green: #08b388;